






.container {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-gap: 20px;
    grid-auto-flow: row;

}


.container2 {
    display: grid;
    grid-template-columns: 200px;
    grid-gap: 5px;
    grid-template-rows: 200px 200px 200px;
    grid-row: span 2;
}
    


/* this container controls the position of the grid at the bottom of the page*/
.container3 {
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    grid-gap: 0.5px;

}



    

